:root {
    font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px #ddd;
    height: 700px;
    max-width: 90%;
    overflow: hidden;
    background-color: #FAFAFA;
}
.hero-image {
    background-position: center center;
    background-image: url(./hydro-bg.png);
    background-size: cover;
    height: 100%;
}

main {
    height: 100%;
    max-width: 60%;
    background-color: #FAFAFA;
    padding-top: 25px;
}
form {
    height: 77%;
}
.description {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 33%;
    justify-content: space-around;
    font-size: 1.4rem;
    font-weight: bold;
    width: 95%;
    margin-bottom: 25px;
}
.form-container {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    font-size: 1.4rem;
    font-weight: bold;
    width: 95%;
    margin-bottom: 3rem;
}
fieldset{
    border: none;
    display: flex;
    gap: 3rem;
    margin-bottom: 20px;
}
.form-cell {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 50%;
}
.form-cell label {
    font-size: 0.8rem;
    font-weight: 500;
}
form input {
    border: 1px solid #D6D9DC;
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;
}
button {
    border: none;
    border-radius: 6px;
    padding: 15px 55px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #27A6F0;
    color: white;
}

.button-area {
    padding-top: 40px;
}
img {
    margin-top: 12%;
    margin-bottom: -125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
img.shark {
    width: 50vh;
}
.account {
    font-size: 16px;
}
p {
    margin-bottom: 25px;
}